@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* força o navegador a usar esquema escuro sempre */
  color-scheme: dark;

  --background: #0b0b0b;
  --foreground: #ededed;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* (opcional) classes utilitárias pra você usar no projeto */
@layer components {
  .ui-title {
    @apply text-white;
  }
  .ui-text {
    @apply text-gray-200;
  }
  .ui-muted {
    @apply text-gray-400;
  }
  .ui-card {
    @apply bg-[#111]/90 border border-white/10 rounded-2xl;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #a89050;
  border-radius: 4px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #917c3f;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a89050 var(--background);
}
